@model IEnumerable<ForeignDocumentViewModel>
@using WebAutomationSystem.CommonLayer.PublicClass
@using WebAutomationSystem.DataModelLayer.StaticClassValue

@{
    ViewData["Title"] = "Index";
    int counter = 1;

    PrivateEnterDocumentListSearchTypeModel ED = new PrivateEnterDocumentListSearchTypeModel();
    ED.ID = ViewBag.searchTypeselected;
    List<PrivateEnterDocumentListSearchTypeModel> ListDocumentSearch = ED.GetPrivateEnterDocumentListSearchTypeModel();
}

<style>
    tr:hover td {
        background-color: #dcd6d6;
    }

    .lb-nav {
        display: none !important;
    }
</style>

<div class="content">

    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 #cbcbcb; border-radius:px;">
        <span style="font-weight:bold;">
            <i class="icon-list"></i>
            لیست اسناد ثبت شده وارده به سازمان
        </span>
    </div>

    <form>
        <div class="panel col-md-12" style="border:1px solid #cbcbcb; background-color:#ebebeb; text-align:center;
                        padding:10px 6px 5px 6px; border-radius:px; margin-bottom:20px;">

            <span style="margin-bottom:5px;">جستجو بر اساس :</span>
            <select asp-for="@ED.ID" style="border:1px solid #cbcbcb; margin-bottom:5px;" id="searchTypeselected" name="searchTypeselected"
                    asp-items="@(new SelectList(ListDocumentSearch,"ID","Title"))">
            </select>

            <input type="text" id="inputsearch" name="inputsearch" value="@ViewBag.inputsearch"
                   style="border:1px solid #cbcbcb; width:300px; height:28px; margin-bottom:5px; text-align:center; font-weight:bold;" />

            @* ------------------------------------------------------- *@
            <label style="margin-bottom:5px;">از تاریخ :</label>
            <input type="text" autocomplete="off" placeholder="از تاریخ..."
                   id="fromdate" name="fromdate" value="@ViewBag.fromdate"
                   style="border:1px solid #cbcbcb; border-radius:px; width:80px; height:28px; padding-right:3px; margin-bottom:5px;"
                   data-mddatetimepicker="true"
                   data-placement="right" data-mdpersiandatetimepicker="" data-trigger="focus"
                   data-enabletimepicker="false"
                   data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                   data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">

            <label style="margin-bottom:5px;">تا تاریخ :</label>
            <input type="text" autocomplete="off" placeholder=" تا تاریخ..."
                   id="todate" name="todate" value="@ViewBag.todate"
                   style="border:1px solid #cbcbcb; border-radius:px; width:80px; height:28px; padding-right:3px; margin-bottom:5px;"
                   data-mddatetimepicker="true"
                   data-placement="right" data-mdpersiandatetimepicker="" data-trigger="focus"
                   data-enabletimepicker="false"
                   data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                   data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">
            @* ------------------------------------------------------- *@
            <button type="submit" class="btn btn-outline-info">
                جستجو
                <i class="icon-search4"></i>
            </button>
        </div>
    </form>
    <hr style="width:100%; background-color:#cbcbcb; height:1px;" />
    <div class="panel panel-body container-fluid" style="border-radius:px; box-shadow:3px 1px 1px 0 #cbcbcb; background-color:#ebebeb;">

        <div class="table-responsive" style="border:1px solid #cbcbcb; border-radius:px; box-shadow:3px 3px 1px 0 #cbcbcb;">
            <table class="table table-bordered" style="background-color:white;">
                <thead>
                    <tr style="font-size:14px; font-weight:bold; background-color:#cbcbcb;">
                        <td style="width:60px;">ردیف</td>
                        <td>موضوع سند</td>
                        <td>تاریخ ثبت</td>
                        <td>نام نامه رسان</td>
                        <td>موبایل نامه رسان</td>
                        <td>مرجع صدور سند</td>
                        <td>شماره سند</td>
                        <td style="width:150px;">عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="font-size:13px;">
                            <td style="width:60px; text-align:center;">@counter</td>
                            <td>@item.DocumentTitle</td>
                            <td>@ConvertDateTime.ConvertMiladiToShamsi(item.DocumentEnterDate, "yyyy/MM/dd")</td>
                            <td>@item.FullNameDelivery</td>
                            <td>@item.PhoneNumberDelivery</td>
                            <td>@item.OrgnizationDocumentName</td>
                            <td>@item.DocumentNumber</td>
                            <td>
                                <div class="row">
                                    <a href="~/upload/documentattach/@item.DocumentImagePath"
                                       data-lightbox="mypic"
                                       style="height:30px;  font-size:10px; margin-bottom:3px;"
                                       class="btn btn-outline-primary">
                                        <i class="glyphicon glyphicon-picture"></i>
                                        تصویر
                                    </a>

                                    <a asp-controller="EnterDocumentList" asp-action="Print"
                                       style="height:30px;  font-size:10px; margin-bottom:3px;"
                                       data-toggle="modal" data-target="#modal-action"
                                   class="btn btn-outline-info">
                                        <i class="glyphicon glyphicon-print"></i>
                                        چاپ
                                    </a>
                                </div>

                            </td>
                        </tr>
                        counter++;
                    }

                </tbody>
            </table>
        </div>


    </div>
</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", Size = BootstrapModel.ModalSize.Large })

@section UserScripts{
    <script src="~/js/modal/modal.js"></script>
}