@model IEnumerable<WebAutomationSystem.DataModelLayer.Entities.ApplicationUsers>

@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<div class="content">

    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">
        <span style="font-weight:bold;">
            <i class="glyphicon glyphicon-user"></i>
            لیست کاربران سامانه جهت مدیریت دسترسی ها
        </span>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" style="border-radius:2px; box-shadow:3px 3px 1px 0 gray;">
                <thead>
                    <tr style="background-color:gray;">
                        <td>ردیف</td>
                        <td>نام</td>
                        <td>فامیلی</td>
                        <td>کدپرسنلی</td>
                        <td>نام کاربری</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="font-size:13px;">
                            <td style="width:60px; text-align:center;">@counter</td>
                            <td style="text-align:right;">@item.FirstName</td>
                            <td>@item.Family</td>
                            <td>@item.PersonalCode</td>
                            <td>@item.UserName</td>
                            
                            <td style="width:220px;">

                                <div class="row">
                                    <a asp-controller="AccessRight" asp-action="AddRoleToUser"
                                       asp-route-userId="@item.Id"
                                       asp-route-FirstName="@item.FirstName"
                                       asp-route-Family="@item.Family"
                                       style="height:30px; width:95px; font-size:10px; margin-bottom:3px;"
                                       class="btn customGreen1">
                                        <i class="icon-accessibility"></i>
                                        دسترسی
                                    </a>

                                    <a asp-controller="AccessRight" asp-action="AddRolePatternToUser"
                                       asp-route-userId="@item.Id"
                                       asp-route-FirstName="@item.FirstName"
                                       asp-route-Family="@item.Family"
                                       style="height:30px; width:95px; font-size:10px; margin-bottom:3px;"
                                       class="btn customYellow1">
                                        <i class="icon-accessibility2"></i>
                                        ثبت نقش
                                    </a>
                                </div>

                            </td>
                        </tr>
                        counter++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>