@model IEnumerable<WebAutomationSystem.DataModelLayer.ViewModels.SentLetterViewModel>
@using WebAutomationSystem.CommonLayer.PublicClass
@using WebAutomationSystem.DataModelLayer.StaticClassValue

@inject WebAutomationSystem.DataModelLayer.Services.IUnitOfWork _context;

@{
    ViewData["Title"] = "نامه های ارسالی";
    int counter = 1;

    ///DropDownList For Immediately
    ImmediatellyTypeModel I = new ImmediatellyTypeModel();
    I.ID = ViewBag.immediatelytype;
    List<ImmediatellyTypeModel> ListImmediatelyTypeModel = I.GetImmediatellyTypeModel();
    //
    SentLetterSearchTypeModel LS = new SentLetterSearchTypeModel();
    LS.ID = ViewBag.searchTypeselected;
    List<SentLetterSearchTypeModel> ListLetterSearchTypeModel = LS.GetSentLetterTypeModel();
}


<div class="content">
    <form>
        <div class="panel panel-heading col-md-12 col-xs-12"
             style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;">

            <span style="font-weight:bold;" class="col-md-6 col-xs-12">
                <i class="icon-notebook"></i>
                نامه های ارسالی
            </span>

            <span class="col-md-5 col-md-offset-1 col-xs-12" style="text-align:left; font-size:12px;">
                @* طبقه بندی نامه ها *@
                <span class="col-md-3">
                    عادی
                    <input type="radio" name="classificationradio" id="classificationradio" value="1" @ViewBag.classificationradio_1 />
                </span>
                <span class="col-md-3">
                    محرمانه
                    <input type="radio" name="classificationradio" id="classificationradio" value="2" @ViewBag.classificationradio_2 />
                </span>
                <span class="col-md-3">
                    فوق محرمانه
                    <input type="radio" name="classificationradio" id="classificationradio" value="3" @ViewBag.classificationradio_3 />
                </span>
                <span class="col-md-3">
                    همه
                    <input type="radio" name="classificationradio" id="classificationradio" value="0" @ViewBag.classificationradio_all />
                </span>
            </span>

        </div>

        <div class="panel col-md-12" style="border:1px solid gray; background-color:#e6e2e2; text-align:center;
                        padding:10px 6px 5px 6px; border-radius:2px; margin-bottom:20px;">

            <span style="margin-bottom:5px;">جستجو بر اساس :</span>
            <select asp-for="@LS.ID" style="border:1px solid gray; margin-bottom:5px;" id="searchTypeselected" name="searchTypeselected"
                    asp-items="@(new SelectList(ListLetterSearchTypeModel,"ID","Title"))">
            </select>

            <input type="text" id="inputsearch" name="inputsearch" value="@ViewBag.inputsearch"
                   style="border:1px solid gray; width:300px; height:28px; margin-bottom:5px; text-align:center; font-weight:bold;" />

            <span style="margin-bottom:5px;">فوریت :</span>
            <select asp-for="@I.ID" style="border:1px solid gray; margin-bottom:5px;" id="immediatelytype" name="immediatelytype"
                    asp-items="@(new SelectList(ListImmediatelyTypeModel,"ID","Title"))">
            </select>
            @* ------------------------------------------------------- *@
            <label style="margin-bottom:5px;">از تاریخ :</label>
            <input type="text" autocomplete="off" placeholder="از تاریخ..."
                   id="fromdate" name="fromdate" value="@ViewBag.fromdate"
                   style="border:1px solid gray; border-radius:2px; width:80px; height:28px; padding-right:3px; margin-bottom:5px;"
                   data-mddatetimepicker="true"
                   data-placement="right" data-mdpersiandatetimepicker="" data-trigger="focus"
                   data-enabletimepicker="false"
                   data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                   data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">

            <label style="margin-bottom:5px;">تا تاریخ :</label>
            <input type="text" autocomplete="off" placeholder=" تا تاریخ..."
                   id="todate" name="todate" value="@ViewBag.todate"
                   style="border:1px solid gray; border-radius:2px; width:80px; height:28px; padding-right:3px; margin-bottom:5px;"
                   data-mddatetimepicker="true"
                   data-placement="right" data-mdpersiandatetimepicker="" data-trigger="focus"
                   data-enabletimepicker="false"
                   data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1399,&quot;Month&quot;:1,&quot;Day&quot;:13,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}"
                   data-mdpersiandatetimepickershowing="true" aria-describedby="popover265350">
            @* ------------------------------------------------------- *@
            <button type="submit">
                جستجو
                <i class="icon-search4"></i>
            </button>
            <hr style="width:100%; background-color:gray; height:1px;" />

            <div class="row" style="margin-top:10px; text-align:center;">
                <span class="col-md-4 col-xs-12" style="font-size:12px;">
                    <span class="col-md-3" style="margin-bottom:5px; font-weight:bold;">پاسخ :</span>
                    <span class="col-md-3">
                        دارد
                        <input type="radio" name="replyradio" id="replyradio" value="1" @ViewBag.radioreply_1 />
                    </span>
                    <span class="col-md-3">
                        ندارد
                        <input type="radio" name="replyradio" id="replyradio" value="0" @ViewBag.radioreply_0 />
                    </span>
                    <span class="col-md-3">
                        همه
                        <input type="radio" name="replyradio" id="replyradio" value="2" @ViewBag.radioreply_all />
                    </span>
                </span>

                <span class="col-md-4 col-xs-12" style="font-size:12px;">
                    
                </span>

                <span class="col-md-4 col-xs-12" style="font-size:12px;">
                    <span class="col-md-3" style="margin-bottom:5px; font-weight:bold;">پیوست :</span>
                    <span class="col-md-3">
                        دارد
                        <input type="radio" name="attachmentradio" id="attachmentradio" value="1" @ViewBag.attachmentradio_1 />
                    </span>
                    <span class="col-md-3">
                        ندارد
                        <input type="radio" name="attachmentradio" id="attachmentradio" value="0" @ViewBag.attachmentradio_0 />
                    </span>
                    <span class="col-md-3">
                        همه
                        <input type="radio" name="attachmentradio" id="attachmentradio" value="2" @ViewBag.attachmentradio_all />
                    </span>

                </span>
            </div>
        </div>
    </form>

    <hr style="width:100%; background-color:gray; height:1px;" />

    <div class="panel panel-body container-fluid"
         style="border-radius:2px; box-shadow:3px 1px 1px 0 gray; background-color:#e6e2e2">

        <div class="table-responsive"
             style="border:1px solid gray; border-radius:2px; box-shadow:3px 3px 1px 0 gray; margin-top:10px;">
            <table class="table table-bordered" style="background-color:white;">
                <thead>
                    <tr style="font-size:14px; font-weight:bold; background-color:#c4bdbd;">
                        <td style="width:60px;">ردیف</td>
                        <td style="width:250px;">موضوع</td>
                        <td>تاریخ ارسال</td>
                        <td>گیرنده</td>
                        <td>شماره نامه</td>
                        <td>فوریت</td>
                        <td>طبقه بندی</td>
                        <td>پیوست</td>
                        <td>پاسخ</td>
                        <td>تاریخ پاسخ</td>
                        <td>نوع</td>
                        <td style="width:120px;">عملیات</td>
                        <td class="hidden">LetterID</td>
                    </tr>
                </thead>
                <tbody id="tabledraftlist">
                    @foreach (var item in Model)
                    {
                    <tr style="font-size:13px;">
                        <td style="width:60px; text-align:center;">@counter</td>
                        <td style="text-align:right;">@item.LetterSubject</td>
                        <td style="text-align:right;">@ConvertDateTime.ConvertMiladiToShamsi(item.LetterSentDate, "yyyy/MM/dd")</td>
                        <td style="text-align:right;">@item.FirstName_Reciever @item.Family_Reciever</td>
                        <td>@item.LetterNumber</td>
                        <td style="text-align:right; background-color:@(item.ImmediatellyStatus == 2 ? "#f7f4b9" : item.ImmediatellyStatus == 3 ? "#f89797" : "")">
                            @item.ImmediatellyStatusText
                        </td>
                        <td style="text-align:right; background-color:@(item.ClassificationStatus == 2 ? "#f7f4b9" : item.ClassificationStatus == 3 ? "#f89797" : "")">
                            @item.ClassificationStatusText
                        </td>



                        @if (item.AttachmentStatus == true)
                        {
                            <td style="background-color:lightgreen;">
                                <a href="~/upload/attachfile/@item.UserName_Reciever/@item.LetterAttachamentFile" style="color:blue;">
                                    @item.AttachmentStatusText
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>ندارد</td>
                        }


                        <td style="text-align:right; background-color:@(item.ReplyStatus == true ? "lightgreen" : "")">
                            @item.ReplyStatusText
                        </td>
                        @if (item.ReplyStatus == true)
                        {
                            <td style="text-align:right;">
                                @ConvertDateTime.ConvertMiladiToShamsi(item.ReplyDate, "yyyy/MM/dd")
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        @if (item.LetterType == 1)
                        {
                            <td style="font-size:11px; width:120px;">نامه</td>
                        }
                        else
                        {
                            <td style="background-color:#c39d9d; font-size:11px; width:120px;">
                                پاسخ نامه
                                @_context.lettersUW.Get(L => L.LetterID == item.MainLetterID).Select(n => n.LetterNumber).Single()
                            </td>
                        }

                        <td>
                            <div class="row">
                                <a asp-controller="Draft" asp-action="Delete"
                                   asp-route-LetterID="@item.LetterID"
                                   data-toggle="modal" data-target="#modal-action"
                                   style="height:30px; width:75px; font-size:10px; margin-bottom:3px;"
                                   class="btn btn-outline-primary">
                                    <i class="icon-reading"></i>
                                    خواندن
                                </a>
                            </div>

                        </td>
                        <td class="hidden">
                            @item.LetterID
                        </td>
                    </tr>
                        counter++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>